# load parent envrc if it exists
[ -f "../.envrc" ] && source ../.envrc

eval "$(conda shell.zsh hook)"

export PROJECT=$(pwd | sed 's/.*\///')

# entertain eyes for a second until conda loads
# python -c "print('$PROJECT'.title())" | figlet -c -w 100   | lolcat

# entertain eyes for a second until conda loads
echo "
    ███████╗██╗ ██████╗      █████╗ ███████╗███████╗████████╗███████╗
    ╚══███╔╝██║██╔════╝     ██╔══██╗██╔════╝██╔════╝╚══██╔══╝██╔════╝
      ███╔╝ ██║██║  ███╗    ███████║███████╗███████╗   ██║   ███████╗
     ███╔╝  ██║██║   ██║    ██╔══██║╚════██║╚════██║   ██║   ╚════██║
    ███████╗██║╚██████╔╝    ██║  ██║███████║███████║   ██║   ███████║
    ╚══════╝╚═╝ ╚═════╝     ╚═╝  ╚═╝╚══════╝╚══════╝   ╚═╝   ╚══════╝
    zigchain-registry" | lolcat

conda activate zigchain-registry

# shortcut for creating new conda environments based on the current working directory
# conda_new() {
#    conda create -n $(basename $PWD) python=3.11 -y
#    source activate $(basename $PWD)
# }
# echo $(basename $PWD) | lolcat
# source activate $(basename $PWD) || conda_new

echo ""
export PYTHONPATH=$(pwd)
export PATH="$(pwd):$PATH"

